@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    font-family: Lato, sans-serif;
    background: linear-gradient(0deg, #000000 0%, #ffffff 100%);
}
.nav-link {
    color:white;
}
.navbar .nav-link.active{
    color: rgb(112, 112, 112);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color:whitesmoke ;
}
.card {
    box-shadow: 11px 8px 30px 1px #000000;
    
}
.sidebar{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}
.card a{
    text-decoration: none;
    color: black;
}
.slidetext{
    margin: auto auto;
}
.footfetish{
    color: aliceblue;
}
footer{

    background-color: black;
}
.med-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgfon{
    color: aliceblue;
    background-color: rgb(110, 110, 110);
    box-shadow: 11px 8px 30px 1px #636363;
}
.anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}
.btn-outline-primary{
    background-color: black;
}
.textcol{
    color: aliceblue;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media (max-width:755px){
    .carousel-indicators{
        display: none;
    }
}
